@import '../../mixins';

.modal-createBatch {
	@include breakpoint(desktop) {
		max-width: 800px !important;
	}

	.modal-content {
		.modal-header {
			@include defaultModalTitle();
		}
	}
}

.createBatch-tooltip-contaiter {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	justify-content: flex-end;
}