.view-content {
  .navbar {
    padding: 0;

    .nav-link {
      font-weight: 600;
      border-bottom: 2px solid transparent;

      &:focus {
        color: #fff;
      }
      
      &:active,
      &.active,
      &:hover {
        border-bottom-color: #fff;
        color: #fff;
      }
    }

    .dropdown-menu {
      .nav-link {
        color: inherit;
        &:active,
        &.active,
        &:hover {
          background-color: #43c939;
          color: #fff;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;

    .navbar-toggler {
      display: none;
    }

    .navbar-collapse {
      display: flex!important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }

    .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
    }

    .navbar-nav .nav-link {
      padding-right: .8rem;
      padding-left: .8rem;
    }
  }
}