.expense-calendar {
  margin-bottom: 3rem;
  
  &.react-datepicker {
    border: 0;
    background-color: transparent;
  }

  .react-datepicker {
    &__header {
      background-color: #F3F3F3;
      border-bottom-color: #D9E0D5;
    }

    &__month-container {
      margin: 0 1rem;
      min-height: 235px;
      border: 1px solid #D9E0D5;
      border-radius: 5px;
      background-color: #fff;
    }

    &__navigation {
      border-width: 1rem;
      top: 50%;
      margin-top: -14px;
    }

    &__navigation--previous {
      left: -3rem;
    }
  
    &__navigation--next {
      right: -3rem;
    }
  }

  .highlighted-expense-date {
    &,
    &:hover {
      background-color: #F22F2F;
      color: #fff;
      border-radius: 3px;
      font-weight: 600;
    }
  }
}