@media print {
  body {
    margin-top: 0mm;
    margin-bottom: 0mm;
    margin-left: 0mm;
    margin-right: 0mm; } }

@page {
    margin-top: 12.7mm;
    margin-bottom: 12.7mm;
    margin-left: 5.58mm;
    margin-right: 5.58mm; } 


